<h1>Comments</h1>

<dl>
    <% @comments.each do |comment| %>
        <dt><%=h comment.created_at.to_s(:short) %></dt>
        <dd><%=h comment.body %></dd>
    <% end %>
</dl>

<%= link_to 'New comment', new_comment_path %>
